@charset "utf-8";
@import "struct.css";
body{color:#333;background:url(images/body.jpg) center top repeat-x #D5ECFB;}
a {color:#2b4a78;}
input.save,input.cancel,.icon_towall,.icon_down,.icon_up,.icon_mes,.icon_pic,.icon_mess,.icon_note,.icon_error,.icon_living,.icon_lived,.icon_liver,.icon_ask,.icon_answer,.icon_facesetting,.icon_success{background:url(images/button.gif) 0 -102px no-repeat;color:white;}
input.cancel{background-position:-78px -102px;color:#8F8F8F;}
.umsg{color:gray;}
.gray{color:gray;}
.extra{border-bottom:1px dashed #D5ECFB;}
.result_ok,.result_err,.infobox .infoline{background:url(../../resource/images/resulticon.gif) no-repeat;}
.result_err{background-position:-81px 0;}
.infobox .infoline{background-position:-163px 0;}
.icon_home,.icon_at,.icon_mail,.icon_broadcast,.icon_collect{background:url(images/menu_icon.gif) no-repeat}
.icon_up{background-position:-167px -80px;}
.icon_down{background-position:-167px -85px;}
.icon_arrowdown{background:url(images/b1.gif) -306px -210px no-repeat;}
.icon_mobile,.icon_vip{background:url(images/t_icons.gif) -1px -1px no-repeat;}
.icon_mobile{background-position:-17px 0;}
.icon_real{background:url(images/real.gif) no-repeat;}
.icon_at{background-position:-32px 0;}
.icon_broadcast{background-position:-16px 0;}
.icon_collect{background-position:-48px 0;}
.icon_mail{background-position:-64px 0;}
.icon_loading{background:url(images/loading.gif) no-repeat;}
.icon_angle{background:url(images/button.gif) -182px -47px no-repeat;}
.icon_angledown{background:url(images/button.gif) -183px -41px no-repeat;}
.icon_angleleft{background:url(images/button.gif) -116px -80px no-repeat;}
.icon_num_orange,.icon_num_gray,.icon_blueangle{background:url(images/button.gif) no-repeat;}
.icon_num_orange{background-position:0 -40px;color:#BC5001;}
.icon_message{background:url(images/button.gif) -30px -39px no-repeat;}
.icon_data{background:url(images/button.gif) -137px -38px no-repeat;}
.icon_num_gray{background-position:-15px -40px;color:#747474;}
.icon_blueangle{background-position:-174px -122px;}
.icon_topic,.icon_emotion{background:url(images/sendbox_btns.gif) no-repeat;}
.icon_topic{background-position: 2px 0;}
.icon_emotion{background-position: -68px 0;}
.icon_towall{background-position: -150px -80px;}
.icon_new,.icon_hot{background:url(images/button.gif) -126px -80px no-repeat;}
.icon_hot{background-position:-126px -91px;}
.icon_mes{background-position:-156px -97px;}
.icon_pic{background-position:-156px -109px;}
.icon_ok{background:url(../../resource/images/button.gif) -260px -46px no-repeat;}
.icon_login{background:url(../../resource/images/loginicon.gif) no-repeat;}
.icon_mess{background-position:-174px -109px;}
.icon_note{background-position:-186px -88px;}
.icon_error{background-position:-206px -25px;}
.icon_success{background-position:-252px -94px;}
.icon_living{background-position:-199px -89px;}
.icon_lived{background-position:-199px -109px;}
.icon_liver{background-position:-275px -20px;}
.icon_ask{background-position:-257px -26px;}
.icon_answer{background-position:-238px -26px;}
.icon_facesetting{background-position:-215px 0;}
.follow,.followbtn,.unfollowbtn,.topichot .fleft strong{color:#fff;background:url(images/button.gif) no-repeat;}
.unfollow{background-position:0 -20px;}
.followbtn{background-position:-52px 0;}
.unfollowbtn{background-position:-52px -27px;}
.topichot .fleft strong{background-position:-278px 0;}
.topichot .fleft strong.active{background-position:-229px 0;}
.close{background: url(images/b1.gif) no-repeat -232px -84px;}
.close:hover{background-position:-252px -84px;}
.button{}
.button_blue{border:1px solid #6AAFEC;box-shadow:inset 0 1px 0 #CBE5F8;background:#64C3E9;color:#fff;
background:-moz-linear-gradient(center top,#64C3E9,#41A0D6);
background:-webkit-gradient(linear, left top, left bottom, from(#64C3E9), to(#41A0D6));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#64C3E9', endColorstr='#41A0D6');}
.button_blue:hover{background:#41A0D6;background:-moz-linear-gradient(center top,#74CCF3,#6AAEEC);background:-webkit-gradient(linear, left top, left bottom, from(#74CCF3), to(#6AAEEC));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74CCF3', endColorstr='#6AAEEC');}
.button_gray{border:1px solid #cae5f8;background:#ECF5FB;color:#81BFDE;background:-moz-linear-gradient(center top,#fff,#ECF5FB);background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ECF5FB));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ECF5FB');}
.button_gray:hover{background:#fff;}
.button_gray[disabled],.button_blue[disabled]{background:#eee;color:#999;border-color:#aaa;text-shadow:1px 1px 0 #fff;filter:null;}
.button_talk,.button_more,.button_report{background:url(images/button.gif) no-repeat;}
.button_talk{background-position:0 -80px;}
.button_more{background-position:-58px -80px;}
.button_report{background-position:-157px 0;}
.arrowdown,.arrowup{background:url(images/b1.gif) -263px -207px no-repeat;}
.icon_school,.icon_book{background:url(images/b5.png) -88px 0 no-repeat;}
.icon_book{background-position:-117px 0;}
.usernav{background:url(images/topbg.gif) repeat-x; color:#fff;border-bottom:1px solid #6D6C67;}
.usernav a{color:#fff;}
.usernav2 a{color:#fff;}
.navbar{background:url(images/nav.gif) no-repeat;color:#fff;}
.navbar a{background:transparent;color:#D7EEFB;-webkit-transition-property:color;-webkit-transition-duration:500ms;}
.navbar a:hover{color:#fff;}
.navbar a em{border-color: transparent transparent #fff transparent;}
.navbar .nav a.active{color:#fff;}
.vmenu ul{background:#fff;background:rgba(255,255,255,.9);border:1px solid #e1e1e1;-webkit-box-shadow:3px 3px 0 rgba(0,0,0,.2);}
.vmenu ul li a{color:#3E9EDC;}
.vmenu ul li a:hover{background:#eee;background:rgba(0,0,0,.1);}
.searchbar .hotsearch a{color:#D7EEFB;}
.searchbar .hotsearch a:hover{color:#fff;}
.footer{background:url(images/footer.png) center bottom no-repeat;}
.footer,.footer a{color:#666;}
.page a{border:1px solid #e1e1e1;}
.page a:hover{background-color:#F1FBFF;border-color:#B0DFFF;color:#65CCFF;}
.pagerwrapper{background:-moz-linear-gradient(center top,#fff,#ECF5FB);background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ECF5FB));filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ffffff', endColorStr='#ECF5FB', gradientType='0');}
.pagerwrapper .nextscreen{border-top: 1px solid #e1e1e1;}
.pagerwrapper .nextscreen .loading{color:#2B4A78;}
.pagerwrapper .nextscreen label{text-shadow:1px 1px 0 #fff;}
.wrapper.content{background:url(images/contentbg.gif) repeat-y #F8F7F4;border-bottom:1px solid #81BFDE;}
.logincontent{background:url(images/contentbg2.gif) repeat-y;}
.regcontent,.errcontent{background:#fff;border-radius:15px;border:1px solid #83BEDC;box-shadow:0 0 5px #83BEDC;border:0\9;border-width:1px\9\0;
background:-moz-linear-gradient(center top,#EDF7FD,#fff);background:-webkit-gradient(linear, left top, left bottom, from(#EDF7FD),to(#fff));background:-o-linear-gradient(top,#EDF7FD,#fff);}
.regcontent,.regcontenttop,.regcontentbottom{background:url(images/contentbg.png) no-repeat\0/IE8;*background:url(images/contentbg.png) no-repeat;}
.regcontentbottom{background-position:left bottom;position:relative;}
.regcontent{background-repeat:repeat-y;background-position:-902px 0\0;*background-position:-902px 0;}
.regcontent .regtit{border-bottom:1px solid #B5DFFA;color:#5AADE5;text-shadow:1px 1px 0 #fff;}
.regcontent .regform{border-top:1px solid #fff;}
.regcontent .forlogin .innerlogin{border-left:1px solid #D2D3D3;}
.wrapper.whitebg,.wrapper2.whitebg{background:#fff;filter:null;}
.contenttop,.contentbottom{background:url(images/content.gif) left top no-repeat;}
.contentbottom{background-position:0 -22px;}
.contentleft .newmessage{border:1px solid #f6e190;background:#FFF4D8;color:#F1AA02;}
.contentleft .newmessage .newmessageloading{background:url(images/loading.gif) center center no-repeat #fff;}
.contentleft .moduletitle .fleft,.contentleft .moduletitle .fright{color:#81BFDE;}
.whitebg{background:#fff;filter:null;}
.headpic{border:1px solid #e1e1e1;padding:2px;}
.userhead img{border:1px solid #e1e1e1;}
.sendboxcontainer{background:#ECF5FB;border-bottom:1px solid #C4E2F7;margin-left:1px;}
.nobg .sendboxcontainer{background:none;filter:none;border-bottom:none;}
.sendbox .sendtext,.sendbox .sendtext1,.sendbox .sendtext2{background:url(images/sendbox.gif) no-repeat;}
.sendbox .sendtext{background-repeat:repeat-y;background-position:-1084px 0;}
.sendbox .sendtext2{background-position:-542px 0;}
.sendbox .actionlist div b{background: url("images/sendbox_btns.gif") no-repeat;}
.sendbox .actionlist div b.huati{background-position:0 0;}
.sendbox .actionlist div b.zhaopian{background-position: -16px 0;}
.sendbox .actionlist div b.pengyou{background:url(images/menu_icon.gif) -30px 0 no-repeat;}
.sendbox .actionlist div b.shipin{background-position: -34px 0;}
.sendbox .actionlist div b.yinyue{background-position: -50px 0;}
.sendbox .actionlist div b.biaoqing{background-position: -68px 0;}
.sendbox .sendcontrol{color:#999;}
.sendbox .sendcontrol .sendbtn{background: url(images/submit1.gif);}
.sendbox .sendcontrol .sendbtn:hover{background-position:0 -32px;}
.sendbox .del{background: url(images/btns.gif) -133px -37px;}
.tcontainer .ttitle{border-bottom: 2px solid #e3eaec;}
.tmain a{color:#47A3E2;}
.tmain .ttouxiang img{border:1px solid #eee;}
.tmain .ttouxiang a.loading{background:url(images/loading.gif) center center no-repeat;}
.tmain .tbottomleft{color:#999;}
.tmain .tbody .tbottom .tbottomright a,.tmain .tbottomleft .time{color:#8A9EB7;}
.tmain .tbody .tbottomright{color:#E7DBE7;}
.tmain .tbody .tyinyong{border:1px solid #CBE8F7;background:#F7FBFE;}
.tmain .tmessage{-webkit-transition-property:background-color;-webkit-transition-duration:500ms;}
.tmain .tmessage:hover,.tmain .tmessage_hover{background:#F7FBFE;}
.tmain .tmessage .extra{margin:0  0 10px;}
.tmain .tmessage:first-child .extra{display:none;}
.tmain .tmessage:first-of-type .extra{border:0;}
.tmain .tmessage .shoucang{background: url(images/t_icons.gif) -32px 0;}
.tmain .tmessage .shoucang:hover{background-position:-48px 0;}
.tmain .tmessage .zhuanbo,.tmain .tmessage .colon{color:gray;}
.tmain .tbottomright a.have{background-position:-65px 0;}
.tmain .tbottomright a.have:hover{background-position:-65px 0;}
.tmain .tbottomright .more em{border:1px solid transparent;border-bottom:0;background-color:transparent;}
.tmain .tbottomright .more ul{background:#fff;}
.tmain .tbottomright .more:hover{background-color:#fff;}
.tmain .tbottomright .more:hover em{border-color:#e1e1e1;background-color:#fff;}
.tmain .tbottomright .more:hover ul{border:1px solid #e1e1e1;}
.tmain .tbottomright .more ul li:hover{background:#2B4A78;color:#fff;}
.tmain .singlemessage .tbody{border:1px solid #DADADA;}
.tmainsample .tmessage{border-bottom:1px dashed #e1e1e1;}
.tbody u{color:#f50;text-decoration:none;}
.tbody a:hover{*text-decoration:none;*border-bottom:1px solid;}
.tbody .fleft a:hover{border-bottom:0;}
.replyform{border:1px solid #E9F4F9;background:#fff;}
.replyform textarea{border:1px solid #CDCDCD;}
.replyform .fbottom .loading{color:#333;}
.replylist li{border-top:1px dashed #e1e1e1;color:#000;}
.ucard{-webkit-box-shadow:0 0 5px #ccc;border:1px solid #ccc;background:#fff;}
.ucard .utags{border-top:1px dashed #ccc;}
.ucard .sfollow{background:url(images/btns.gif) -198px -405px;}
.ucard .uinfo label{color:#999;}
.ucard .uinfo ul{border:1px solid #C1DEEE;background:#eee;background:-moz-linear-gradient(center top,#fff,#EBF8FF);background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#EBF8FF));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#EBF8FF');}
.ucard .uinfo ul li.privatemail{border-left:1px solid #C1DEEE;border-right:1px solid #fff;}
.ucard .uinfo ul li a{text-shadow:1px 1px 0 #fff;text-shadow:1px 1px 0 #fff;}
.ucard .uinfo ul li a:hover{background:#fff;}
.ucard .uinfo ul li a.gray{color:#E2DFD6;}
.ucard .uinfo ul li a.gray:hover{background:none;}
.ucard .uinfo ul li p a:hover{background:#c2e7f9;}
.ucard .uinfo ul li.more p{background:#fff;border:1px solid #ccc;}
.ucard .utags{color:#999;}
.profile .head img{border:1px solid #C1DEEE;border-radius:3px;}
.profile .newnum{background:url(images/newfollower.gif) no-repeat;color:#F28F04;}
.vipinfo{border:1px solid #81BFDE;}
.vipinfo h2{background:url(images/vipbg.gif) no-repeat;}
.vipinfo h2 label{background:url(images/vipbg.gif) right top no-repeat;color:#fff;}
.vipinfo h2.tencent{background-position:0 -26px;}
.vipinfo h2.tencent label{background-position:right -26px;color:#f60;}
.vipinfo a{color:#68AEDC;}
.menus{background:url(images/menu_sp.gif) center center no-repeat;}
.menus .menu:last-child{background-position:0 100px;}
.menus .menu a{color:#2b6b99;}
.menus .menu a:hover{background:url(images/menu.gif) 0 -41px no-repeat;}
.menus .active a:link,.menus .active a:visited{background:url(images/menu.gif) 0 0 no-repeat;color:#6D6C67;}
.menus .menu a .menuhint{color:#f00;}
.textlisttit{color:#81BFDE;}
.textlist{border:1px solid #C1DEEE;background:#F9FCFD;}
.textlist li a.unsubscribe{color:#F48585;}
.textlist li a span{color:#999;}
.userlist li img{border:1px solid #C1DEEE;border-radius:3px;}
.textlist li p{border:1px solid #e1e1e1;background:#F8F8F5;}
.textlist2{border:1px solid #C1DEEE;background:#fff;}
.textlist2 li{border-bottom:1px dotted #e1e1e1;}
.textlist2 li:last-child{border-bottom:none;}
.textlist2 li a.fleft img{border:1px solid #C1DEEE;border-radius:3px;}
.textlist2 li.last{border:none;}
.toggle{background:url(images/button.gif) 0 -54px no-repeat;color:#81BFDE;text-shadow:1px 1px 0 #fff;}
.toggle .more{color:#6D6C67;}
.footcontrol a,.footcontrol em,.footcontrol cite{background:url(images/b4.png) 0 -67px no-repeat;_ background:url(images/b4.gif) 0 -67px no-repeat;}
.footcontrol a.gotopicon{background-position:-37px -67px;}
.footcontrol a.gotopicon em{background-position:-74px -67px;}
.footcontrol a.audioicon em{background-position:-158px -67px;}
.footcontrol a.audioicon cite{background-position:-99px -67px;}
.footcontrol a.audioicon cite.playing{background:url(images/mstate.gif) -1px -1px no-repeat;}
.footcontrol a.audioicon cite.playing:hover{background:url(images/b4.png) -124px -67px no-repeat;background:url(images/b4.gif) -124px -67px no-repeat;}
.tabbar,.moduletitle,.tabbar li.active,.tabbar li.active strong{background:url(images/tabbar.gif) no-repeat;}
.tabbar ul.tabs li.active{background:url(images/tabbar.gif) -632px -41px no-repeat;color:#6E91A5;}
.tabbar ul.tabs li.active strong{background-position:right bottom;}
.tabbar .tabs a,.moduletitle a{color:#81BFDE;}
.tabbar li a{text-shadow:1px 1px 0 #eee;}
.contentleft .tabbar,.contentleft .moduletitle{background-position:0 -36px;}
.tagslist a.active,.tagslist a:hover{background:#76B6DA;color:#fff;}
.cityinfo{border:1px solid #e1e1e0;}
.cityinfo .fleft  a.active{background:#76B6DA;color:#fff;}
.cityinfo .fright .citysel{border:1px solid #C5C5C5;color:#999;}
.cityinfo .fright .citySel span{border-left:1px solid #c5c5c5;background:url(images/btns.gif) -1px -462px no-repeat;}
.cityinfo .fright  .cityform{background:#fff;border:1px solid #e1e1e1;-webkit-box-shadow:-3px 3px  3px rgba(0,0,0,.2);-moz-box-shadow:-3px 3px  3px rgba(0,0,0,.2);box-shadow:-3px 3px  3px rgba(0,0,0,.2);}
.userlist2 li{border-bottom:1px dotted #e1e1e1;}
.userlist2 li:last-child{border:none;}
.userlist2 li .fleft img,.topicshow li .fleft img{border:1px solid #C1DEEE;border-radius:3px;}
.userlist2 li .fright p{color:#666;}
.userlist2 li.last{border:none;}
.userlist3 li img{border:1px solid #e1e1e1;}
.userlist4 li{border-bottom:1px dashed #e1e1e1;padding-bottom:15px;}
.userlist4 li div{color:gray;}
.userlist4 u{color:#f50;text-decoration:none;}
.userlist5 li.active{border-bottom:1px dotted #e1e1e1;}
.topicshow li .fright h6 span,.topicshow li .fright div,.topicshow li .fright div a{color:#999;}
.tagsbox{border:1px solid #e1e1e1;color:#CBC9C5;}
.moduletitle2 strong{background:#fff;}
.moduletitle2 div{background:#eee;}
.moduletitle3{border-bottom:1px solid #e1e1e1;}
.moduletitle4 .fright{color:gray;}
.moduletitle5{border-bottom:1px solid #8BC8EE;}
.moduletitle5 .fleft{color:#2D6284;text-shadow:1px 1px 0 #fff;}
.moduletitle5 strong{background:url(images/mbg.gif) no-repeat;}
.moduletitle6{color:#50A8E3;text-shadow:1px 1px 0 #fff;}
.moduletitle7{color:#666;}
.setform tr th span{color:red;}
.setform cite{color:#f60;font:12px normal;}
.privateform input.text{border:1px solid #e1e1e1;outline:0;}
.privateform textarea{border:1px solid #e1e1e1;}
.outboxlist li h6,.outboxlist li div{color:gray;}
.sethead{background:url(images/setting_head_banner.jpg) no-repeat;}
.sethead .fleft img{border:1px solid #e1e1e1;}
.tagsetting .fleft img{border:1px solid #e1e1e1;}
.tagsetting .tagsform{background:url(images/tagsform.gif) no-repeat;}
.slideleft,.slideright{background:url(images/button.gif) no-repeat;}
.slideleft{background-position:-156px -26px;}
.slideleft:hover{background-position:-190px -64px;}
.slideright{background-position:-170px -26px;}
.slideright:hover{background-position:-204px -64px;}
.wrapper2 .iwbSlideware{background:url(images/sliderbg.jpg) 50% 190px no-repeat;}
.slider2{border:3px solid #E2EAEC;}
.slider2 li h2 span{color:#EE6C0B;}
.slider2 .slidebtns a{background:url(images/button.gif) -192px -50px no-repeat;}
.slider2 .slidebtns a:hover{background-position:-192px -25px;}
.slider2 .slidebtns a.active,.slider2 .slidebtns a.active:hover{background-position:-192px -39px;}
.slider3{background:#fff;border-radius:3px;}
.sliderbtns a{background:url(images/button.gif) -147px -27px;}
.sliderbtns a.active{background-position:-137px -27px;}
.slidertext li a{color:#5993B9;}
.todaystar h2,.todaystar h3{color:#666;}
.todaystar .fright p{color:gray;}
.todaystar .fleft img{border:1px solid #e1e1e1;}
.todaystar,.uprofile{background:-moz-linear-gradient(center top,#fff,#E7F4FD);background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#E7F4FD));background:-o-linear-gradient(top,#fff,#E7F4FD);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#E7F4FD');border-bottom:1px solid #CAE5F8;}
.userlist6 u{text-decoration:none;color:#f50;}
.userlist6 li{border-bottom:none;}
.searchtopic{border:1px solid #E5E6BC;background:#FFFDF1;}
.searchtopic u{text-decoration:none;color:#f50;}
.searchtit{border:1px solid #DEDED6;}
.searchtit h2{color:#6C6B66;background:-moz-linear-gradient(center top,#f9f9f7,#eef0eb);background:-webkit-gradient(linear, left top, left bottom, from(#F9F9F7), to(#EFF0EB));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F9F7', endColorstr='#EFF0EB');}
.searchform{border:1px solid #CCCBC6;background:#E7E7DF;}
.searchform .search{border:1px solid #A2A29C;background:url(images/searchbtn.gif) right center no-repeat #fff;}
.searchform .search:hover{border-color:#3A92CC;}
.searchform .search .searchtext{background:#fff;}
.uprofile .fleft img{border:1px solid #e1e1e1;}
.uprofile .fright h1{color:#92918D;}
.uprofile .fright p{color:#DBDBDD;}
.uprofile .fright p span{color:#333;}
.settingnav .head img{border:1px solid #e1e1e1;}
.settingnav ul li{border:1px solid #e1e1e1;border-right:0;background:-moz-linear-gradient(center top,#fff,#eee);background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee');}
.settingnav ul li.active{background:#fff;}
.settingnav ul li a{color:#9A9A9A;}
.setform{border:1px solid #e1e1e1;}
.tagsetting .tagswrapper{border:1px solid #e1e1e1;}
.tagsetting .tagswrapper .tagsdes{border-left:1px solid #e1e1e1;color:#666;}
.tagsetting .tags span{border:1px solid #fff;}
.tagsetting .tags span a{color:#000;}
.tagsetting .tags span em{color:gray;}
.tagsetting .tags span em:hover{color:#f00;}
.tagsetting .tags span:hover{border-color:#e1e1e1;}
.topicheader{background:-moz-linear-gradient(center top,#fff,E7F4FD);background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#E7F4FD));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#E7F4FD');border-bottom:1px solid #CAE5F8;}
.topiclist li .fleft img{border:1px solid #C1DEEE;border-radius:3px;}
.topicheader .topicinfo img{border:1px solid #e1e1e1;}
.loginform .splitline{background:url(images/splitline.gif) no-repeat;}
.loginform ul li{color:#3b3b3b;}
.loginform ul li.space1{color:#2D6284;}
.loginform ul li.space1 a{color:#4DA8E3;}
.loginform ul li.space2 a{background:url(images/login_tencent.gif) no-repeat;color:#fff;}
.loginform .loginbtn{background:url(images/loginbtn.gif) no-repeat;color:#593F02;}
input[type="text"],input[type="password"],.input_text{border:4px solid rgba(178,196,212,.5);outline:1px solid #B2C4D4;outline-offset:-4px;border-radius:4px;border:1px solid #B2C4D4\9;outline:0\9;/*border:1px solid #8F9CAF;background:url(images/input.gif) repeat-x #fff;outline:none;*/}
input[type="text"]:focus,input[type="password"]:focus,.input_text:focus{
outline-color:#86C0E9;border-color:rgba(134,192,233,.5);
}
.loginform .input_text,.loginform .regbtn{border:none;background:url(images/select.gif) 0 -46px no-repeat;outline:none;}
.loginform ul li .gdcode{background:url(images/select.gif) -100px -46px no-repeat;* background-position-y:-45px;}
.loginform .regbtn{background-position:0 -79px;color:#fff;text-shadow:1px 1px 0 #6A8C00;}
.loginform .regbtn:hover{text-decoration:none;opacity:0.9;}
.locallogin .loginform{background:none;}
.regform .emsg{color:#f60;}
.regform cite{color:#666;}
.regform th{color:#5D5D5D;}
.regform th span{color:#f00;vertical-align:middle;margin-right:5px;font-weight:normal;}
.errormsg{background:-webkit-gradient(linear, left top, left bottom, from(#FFF5F3), to(#FFE4DC));color:#F58F7B;border:1px solid #FCAEAE;}
.errormsg b{background:url(../../resource/images/button.gif) -282px -46px no-repeat;}
.bindingbtn,.bindingbtn2,.findpaswbtn{background:url(images/bind.gif) no-repeat;color:#fff;text-shadow:0 1px 1px #247EA3;}
.bindingbtn2{background-position:0 -42px;}
.bigbtn{background:url(images/allfollow.gif) no-repeat;}
.bigbtn:hover{background-position:0 -35px;}
.oauthbtn{background:-moz-linear-gradient(center top,#fff,#e5e3dc);background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#E5E3DC');border:1px solid #ccc;border-radius:3px;color:#666;color:#f50;}
.oauthbtn:hover{background:-webkit-gradient(linear, left top, left bottom, from(#DCF3FB), to(#efe));border-color:#BDE9FF;color:#229CCD;text-decoration:none;}
.findpaswbtn{background-position:0 -70px;}
.result{border:1px solid #92E1FF;background:#F0FBFF;color:#333;}

.slider3 h2{color:#666;}
.slider3 .btna,.slider3  .btnb{background:url(images/button.gif) no-repeat;}
.slider3 .btna{background-position:-217px -56px;}
.slider3 .btnb{background-position:-239px -56px;}
.facesettingBox .funBox input.btn_cancel{background: -webkit-gradient(linear, left top, left bottom, from(#ABC1D2), to(#9AAFC5));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ABC1D2', endColorstr='#9AAFC5');}
.alarmtxt{background:-moz-linear-gradient(center top,#fff,#E7F4FD);background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#E7F4FD));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#E7F4FD');background:-o-linear-gradient(top,#fff,#E7F4FD);border:1px solid #D5ECFB;color:#015813;}
.alarmtxt a{color:#3E9EDC;font-weight:bold;}
.report_tit{border-bottom:1px dashed #eee;}
.crumb{border-bottom:1px dashed #D8D8D8;}
.crumb .fleft{color:#666;}
.activity .fright h1{color:#62A8D3;}
.activitydes{border:1px dashed #e1e1e1;}
.activitydes p{color:#666;}
.activitylist li p{background:#fff;border:1px solid #CEE5F2;color:#999;}
.activitylist li p strong{color:#000;}
.activitycontent{border:1px solid #E6E6E6;background:#F9F9F9;color:#666;}
.activitymembers li{border-bottom:1px dashed #e1e1e1;color:#666;}
.livewrapper{border:1px solid #D5ECFB;background:#F7FBFC;border-radius:3px;}
.livewrapper .slider3{-webkit-box-shadow:0 0 1px #D5ECFB;}
.livebroadcast h1{color:#68AEDC;}
.livebroadcast .fright p{color:#666;}
.livelist li .fright h2 a{color:#68AEDC;}
.livedes{border:1px solid #C1DEEE;border-radius:3px;background:#fff;}
.livedes strong{color:#666;}
.select .selecttit{background:url(images/select.gif) 0 -23px no-repeat;}
.select  a{color:#909DB0;}
.select  a:hover{color:#666;}
.select ul{background:#fff;border:1px solid #B8C1CA;}
.select ul li a:hover{background-color:#EAECEB;}
.tinterview .tbody{color:#333;}
.tinterview .tbottom a{color:#889DB6;}
.tinterview .tbottomright{color:#E7DBE7;}
.tinterview .askbox{border-color:#FEB470;}
.tinterview .answerbox{border-color:#A5DDF8;}
.tinterview .askbox0,.tinterview .answerbox0{border-color:#fff;border-bottom:1px dashed #e1e1e1;}
.topicform div{background:url(images/searchtopic.gif) no-repeat;}
.topicform div .txt{border:none;outline:0;}
.topicform div .btn{border:none;color:#666;opacity:0;filter:alpha(opacity=0);background:url(about:blank);}
.topicresult{border:1px solid #e1e1e1;clear:both;}
.topicresult li{border:1px solid #e1e1e1;}
.mainsendboxerror,.mainsendboxsuccess,.minisendboxerror,.minisendboxsuccess{color:#f00;}
.nocollection{background:url(images/nocollection.gif) center top no-repeat;}
.noatme{background:url(images/noatme.gif) center top no-repeat;}
/*皮肤设置*/
.facesettingBox{border:1px solid #8ACAEE;background:#fff;-webkit-box-shadow:0 0 8px rgba(0,0,0,.3);}
.facesettingBox .tit{background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#CBE8F7));border-bottom:1px solid #8ACAEE;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#CBE8F7');}
.facesettingBox .tit span{background:url(images/b3.png) -80px -45px no-repeat;}
.facesettingBox .categorys{border-bottom:1px solid #8ACAEE;position:relative;background:#E7F4FB;}
.facesettingBox .categorys ul li{border-right:1px solid #8ACAEE;}
.facesettingBox .categorys ul li.active{background:#fff;}
.facesettingBox .categorys ul li a:hover{background:#F5FAFD;}
.facesettingBox .facelist li{border:1px solid #eee;}
.facesettingBox .facelist li:hover{border-color:#8ACAEE;}
.facesettingBox .facelist li .mask{background:rgba(0,0,0,.5);filter:alpha(opacity=50);background:#000\9;}
.facesettingBox .facelist li .tempName{color:#fff;}
.facesettingBox .facelist li.locked .ico_lock{background:url(images/b3.png) -203px -46px no-repeat;}
.facesettingBox .pages strong,.facesettingBox .pages a{border:1px solid #fff;}
.facesettingBox .pages .fright a:hover{border-color:#2B4A78;}
.facesettingBox .funBox{border-top:1px dotted #C8C8C8;}
.activitybtn{background:url(images/activity.gif) no-repeat;}
.activitybtn:hover{background-position:0 -40px;}
.commendbtn{background:url(images/commendbtn.gif) no-repeat;}
.commendbtn:hover{background-position:0 -35px;}
.bindpage{background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F5FAFD));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F5FAFD');background:-moz-linear-gradient(center top,#FFFFFF,#F5FAFD);background:-o-linear-gradient(top,#FFFFFF,#F5FAFD);}
.bindpage h1{color:#656565;background:url(../../resource/images/tlogo.gif) 0 9px no-repeat;}
.bindpage h1 strong{color:#E55A5A;}
.bindpage h1 a{color:#5AADE5;}
.regtab{border-bottom:1px solid #E3E7EA;background: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#F8F9FA));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#F8F9FA');background:-moz-linear-gradient(center top,#FEFEFE,#F8F9FA);background:-o-linear-gradient(top,#FEFEFE,#F8F9FA);}
.regtab li.active,.regtab li.active div{background:url(../../resource/images/regtab.gif) no-repeat;}
.regtab li.active div{background-position:right -34px;color:gray;}
.bindform .input_text,.regform .input_text{background:url(../../resource/images/text.gif) no-repeat;}
.bindform .input_text:focus,.bindform .input_text:hover,.regform .input_text:focus,.regform .input_text:hover{background-position:0 -32px;}
.bindform th span,.regform th span{color:red;}
.bluebtn,.bluebtn input,.bluebtn a{background:url(../../resource/images/bluebtn.png) no-repeat;_ background:url(../../resource/images/bluebtn.gif) no-repeat;}
.bluebtn input,.bluebtn a{background-position:100% -37px;color:#fff;}
.unaccredit{background:url(../../resource/images/unaccredit.gif) center 20px no-repeat;border-bottom:1px solid #E1E1E1;}
.unaccredit2 .tooltip{background:url(../../resource/images/tooltip.gif) no-repeat;color:#fff;}
.unaccredit2 form{border-top:1px solid #e1e1e1;}
.unaccredit2 form .tit{color:#235276;}
.returnbtn{width:121px;height:41px;background:url(images/returnbtn.png) no-repeat;}
.infobox  h1{color:#333;}
.errinfobox{background:url(images/msgbg.png);}
.errinfobox .postbox h1{color:rgba(81,168,226,.8);color:#51A8E2\9;text-shadow:0 0 1px #8CC3E5;}
.errinfobox .postbox1{background:url(../../resource/images/err1.png) 80% 80% no-repeat;}
.errinfobox .postbox2{background:url(../../resource/images/err2.png) 80% 80% no-repeat;}
.errinfobox .postbox3{background:url(../../resource/images/err3.png) 80% 80% no-repeat;}