@charset "utf-8";
.regcontent{display:inline-block;min-height:500px;_ height:450px;margin-bottom:-2px;}
.regcontenttop,.regcontentbottom{height:16px;clear:both;}
.footer{width:100%;height:40px;padding-top:200px;margin-top:-200px;}